{% extends 'base.html' %}
{% load markdownify %}
{% block content %}

{% if user.is_authenticated %}
<title>Homepage</title>

<style>

    button{
        border-style: solid;
        border-radius: 5px;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        transition: transform .7s ease-in-out;
        margin-left:10px;
       

      }
      button:hover{
        transform: rotate(360deg);

      }
      input[type="text"] {
        text-align: top;
      }

      .col-md-8 {
        margin: 0.5%;
      }

      .row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -5%;

        
      }

      .card-mb-4{
        border: solid;
        border-width: 2pt;
        border-radius: 20pt;
        padding:5%;
        margin-bottom: 3em;
    

      }

      /* .card-body{
       


      } */


      .post_icons{
        display: flex;
  
        justify-content: space-evenly;
      }
      /* Style buttons */
      

      /* Darker background on mouse-over */
      

      /* .edit-button{
        background-image:url('{{ STATIC_URL }}images/sample.JPG');
        background-repeat:no-repeat;
        background-size:100%;
      } */
      

     

      
      
</style>
<div class="container">

  <div class="row">

    <div class="col-md-8">
      <h1 class="text-center">Welcome <span style="color: red">{{user.username}}</span> to Ultimate Teapot!!!</h1>
     
        
    </div>

    </br>
    </br>

  

    <div class="col-md-8">
      {% for post in posts %}
      <div class="card-mb-4">
        <div class="card-body" style= "height: 420px"; ;>
          <p class="card-text">
            <h2>{{post.title}}</h2>
            {% if post.unlisted == False %}
                  {% comment %} <p>People can view this post: {{ post.author.friends.all }} and {{request.user.profile}} {% endcomment %}

                    {% if post.visibility == 'PUBLIC' %}
                    <div style="padding-bottom: 2px">
                      <a href="{%url 'foreign_post' post.id %}"><i> [This post is public] </i></a>

                    </div>
                    {% include 'post_structure.html' %}

                    {% elif post.visibility == 'FRIENDS' %}
                    <div style="padding-bottom: 2px">
                      <a href="{%url 'foreign_post' post.id %}"><i> [This post is a friend post]</i></a>
                    </div>
                    {% include 'post_structure.html' %}

                    {% else%}
                    <div style="padding-bottom: 2px">
                      <i> [Not friends nor public post!!!]</i>
                    </div>
                    {% include 'post_structure.html' %}

                    {% endif %}
            {% else %}
            <div style="padding-bottom: 20px">
              <a href="{%url 'foreign_post' post.id %}"><i> [This is an unlisted post] </i></a>
            </div>

            <div style="height:250px;  border: medium solid transparent; padding: 20px; background-color: white; border-radius: 6px; ">
                <form action="/main/send_unlisted_post/" method="POST" enctype="multipart/form-data">
                  <div class="Title" >
                    <p><a href="{% url 'profile' post.author.id %}">{{ post.author.displayName }}</a> posted<p>
                    <p>Published at: {{ post.published }}</p>
                  </div>
                  <p>Please select an author to share this unlisted post.</p>
                  <label for="my-select">Select an author:</label>
                      <select id="my-select" name="my-option">
                        <option value="">-- Please select --</option>
                        {% for author in authors %}
                          <option value="{{ author.id }}">{{ author.displayName }}</option>
                        {% endfor %}
                      </select>

                  {% csrf_token %}
                  <input type="hidden" value="{{ post.id }}" name="post_id" />

                </br></br>
                  <button type="submit" name="private" value="private" class="btn btn-outline-success">Send</button>
                </form>
              </div>

            {% endif %}


                    {% if request.user.profile.url == post.author.id %}


                    <div class="post_icons" style="padding-top: 15px">
                      <a href="{%url 'edit_post' id=post.id %}"class="edit-button btn btn-secondary btn-block edit-button bi-pen-fill" style="float: right;"></a>


                      <a href="{%url 'foreign_post' post.id %}"class="ui button btn btn-secondary btn-block bi-chat-left-text"><!-- {{post.title}} --></a>


                      <a href="{%url 'delete_post' id=post.id %}"class="ui button bi-trash btn btn-secondary btn-block" style="float: right;"></a>
                    </div>
                    {% else %}
                    <div class="post_icons">
                      <a href="{%url 'foreign_post' post.id %}"class="ui button btn btn-secondary btn-block bi-chat-left-text"><!-- {{post.title}} --></a>
                    </div>


                    {% endif %}

          <!-- {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
          {% endif %} -->
          <br><br>
          {% comment %}
          <form method="POST" action="{% url 'like_create' post.post_id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">
                {% if request.user in post.likes.all %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </button>
          </form>

          <br/>
          <button class="btn btn-primary btn-block">
            <a href="{% url 'comment_create' post.id %}" style="text-decoration:none;color:rgb(256,256,256)">Comment!</a>
          </button>
          {% endcomment %}
          {% if request.user.profile.url == post.author.id %}
          {% endif %}


          <br/><br/>
          {% for comment in post.comment.all %}
            <p class="card-text">{{ comment.comment_author.username }} :
            </p>
            <p class="card-text">{{ comment.content }}</p>
          {% endfor %}
        </div>
      </div>

    {% endfor %}



    </div>
{% comment %}
    <div>
      {% if authors %}

      {% for author in authors %}
      <p>
        {{ author.displayName }} from {{ author.host }}
      </p>
      {% endfor %}

      {% endif %}
    </div> {% endcomment %}

  </div>
</div>

{% else %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <p class="lead">You are not logged in.</p>
      <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a>.</p>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}
