{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<title>Inbox</title>

{% comment %} <style>
    button{
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        transition: transform .7s ease-in-out;

        margin-left: 10px;
      }

      .card button:hover {
        transform: rotate(360deg);
      }

</style> {% endcomment %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-center">You've got new notifications</h1>
      <h6 class="text-center">Mark as seen or repond to remove notification</h6>
      <br><br>
      <a href="{%url 'clear_inbox' %}"class="ui button"><i class = "btn btn-secondary btn-block" style="float:right">Clear Everything</i></a>
      <br><br>
      <br>
      {% for item in items %}
      <div class="card mb-4">
        <div class="card-body">

          {% if item.type == "Follow" %}
          {% comment %} <a href="{% url 'profile' item.actor %}">{{ item.actor }}</a> wants to follow you! {% endcomment %}
          {% comment %} TODO check if an actor is a in follower_list if yes -> dont display the follow request {% endcomment %}
            <p>{{ item.name }} wants to follow you!</p>

            <form action="/main/follow_response/" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" value="{{ item.id }}" name="follower_id" />
              <input type="hidden" value="{{ item.host }}" name="follower_host" />
              <button type="submit" name="accept" value="accept" class="btn btn-outline-success">Accept</button>
              <button type="submit" name="accept" value="decline" class="btn btn-outline-danger">Decline</button>
            </form> 
    
          {% elif item.type == "post" %}
          hello {{ item.name }}  sent you this
          <p>Post id: <a href="{% url 'foreign_post' item.object_id %}">{{ item.object_id }}</a></p>

          {% elif item.type == "like" %}
            {% if item.whether_comment_like == True %}
              <p>{{ item.name }} liked your comment!</p>
              <p>Post id: <a href="{% url 'foreign_post' item.object_id %}">{{ item.object_id }}</a></p>
            {% else %}
              <p>{{ item.name }} liked your post!</p>
              <p>Post id: <a href="{% url 'foreign_post' item.object_id %}">{{ item.object_id }}</a></p>
            {% endif %}
          
          

          {% elif item.type == "comment" %}
          <p>{{ item.name }} commented on your post:</p>
          <p>Post id: <a href="{% url 'foreign_post' item.object_id %}">{{ item.object_id }}</a></p>
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


      


{% else %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <p class="lead">You are not logged in.</p>
      <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a>.</p>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
