{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <title>Inbox</title>
    <style>
      .card {
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
      }

      .card-body {
        padding: 20px;
      }

      .card p {
        font-size: 18px;
        margin-bottom: 0;
      }

      .card small {
        color: gray;
        font-size: 14px;
      }

      .card button {
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        transition: transform .7s ease-in-out;
        margin-left: 10px;
      }

      .card button:hover {
        transform: rotate(360deg);
      }

      .btn-primary {
        background-color: #1DA1F2;
        border-color: #1DA1F2;
        border-radius: 5px;
      }

      .btn-primary:hover {
        background-color: #0D8EDB;
        border-color: #0D8EDB;
      }

      h1 {
        margin-top: 0;
        font-size: 36px;
      }
    </style>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-center">Inbox</h1>
          <br>
          {% for item in items %}
            <div class="card">
              <div class="card-body">
                {% if item.type == "Follow" %}
                  <p><strong>{{ item.actor }}</strong> wants to follow you!</p>
                  <button class="btn btn-primary">Accept</button>
                  <button class="btn btn-danger">Reject</button>
                {% elif item.type == "post" %}
                  <p>You have a new message from <strong>{{ item.actor }}</strong>.</p>
                  <small>{{ item.published }}</small>
                  <p>{{ item.content }}</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <p class="lead">You are not logged in.</p>
          <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a>.</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
