{% extends 'base.html' %}
{% load markdownify %}
{% block content %}

{% if user.is_authenticated %}
<title>Make post</title>

<style>
    button{
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        transition: transform .7s ease-in-out;

        margin-left: 10px;
      }

      .card button:hover {
        transform: rotate(360deg);
      }
      input[type="text"] {
        text-align: top;
      }

      .col-md-8 {
        margin: 25px;
      }
      
</style>

<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Create a post</h4>
      <hr>
      <div class="btn-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
        <button type="button" class="btn btn-outline-primary active" onclick="MakeText()">Text</button>
        <button type="button" class="btn btn-outline-primary" onclick="MakeMarkdown()">Markdown</button>
        <button type="button" class="btn btn-outline-primary active" onclick="MakeImage()">Image</button>
      </div>
      <hr>
      {% if upload_form %}
        <form action="/main/posts/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ upload_form.contentType.hidden }}
          {{ upload_form.as_p }}
          <button type="submit" class="btn btn-primary btn-block mt-3">Post!</button>
        </form> 
      {% endif %}
    </div>
  </div>
</div>


  <script type="text/javascript">
    

    window.onload = function(){
      document.getElementById('id_image').hidden = true
      document.getElementById('id_content').hidden = true
      //document.getElementById('id_markdown_content').hidden = true
      //document.getElementById('id_contentType').hidden = true
      
    }
    function MakeMarkdown(){
      document.getElementById('id_content').hidden = false
      document.getElementById('id_image').hidden = true
      
      //document.getElementById('id_markdown_content').hidden = false
      document.getElementById('id_contentType').value = "text/markdown"
      //document.getElementById('id_contentType').hidden = true
    }

    

    function MakeImage(){
      document.getElementById('id_image').hidden = false
      document.getElementById('id_content').hidden = true
      //document.getElementById('id_markdown_content').hidden = true
      document.getElementById('id_contentType').value = "application/base64"
      //document.getElementById('id_contentType').hidden = true
    }


    function MakeText(){
      document.getElementById('id_content').hidden = false
      document.getElementById('id_image').hidden = true
      //document.getElementById('id_markdown_content').hidden = true
      document.getElementById('id_contentType').value = "text/plain"
      //document.getElementById('id_contentType').hidden = true

    }



  </script>
  
    {% comment %} <div class="col-md-8" style=" background-color: pink">
      <form action="/main/posts/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="padding: 20px">
          <h5>Share your thoughts!</h5>
          <input type="text" style="width: 100%;" name="text_post" placeholder="What is in your mind?"></textarea></br></br>
          <input type="file" name="image_upload"></br></br>
          <button type="submit">Upload</button>
        </div>
      </form>
    </div> {% endcomment %}

{% endif %}
{% endblock %}