<div class="card mb-4">
    <div class="card-body">
      <p class="card-text">
              <p><a href="{% url 'profile' post.author %}">{{ post.author }}</a> posted<p>
              <p>Created: {{ post.pub_date }}</p>
              <p>Tweeted: {{ post.content }}</p>
              {% comment %} <p>Post's link: <a href="{% url 'post' post.id %}">{{ post.id }}</a><p> {% endcomment %}
            </p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
            {% endif %}
            <br><br>
           
    </div>
  </div>
