{% load markdownify %}

<style>
  .Title{
    display:flex;
    justify-content:space-between;
    border-bottom: dotted;
    border-width: 0.1em;
    margin-bottom: 5%;
    color: rgb(201, 198, 198);
    
  }



</style>

<div class="card mb-4">
    <div class="card-body">
      <p class="card-text" >
        <!-- <input type="hidden" id="myVar" name="variable" value="{{post.contentType}}"> -->

            <div class="Title">
              <p><a href="{% url 'profile' post.author.id %}">{{ post.author.displayName }}</a> posted<p>
              <p>Published: {{ post.published}}</p>
            </div>
            {% if post.contentType == 'text/plain' %}
            <p>{{ post.content }}</p>
            {% endif %}

            {% if post.contentType == 'text/markdown' %}
            <p>{{ post.content|markdownify}}</p>
            {% endif %}

              <!-- <div id="main_body">
                <script type="text/javascript">
                  var myVar = document.getElementById("myVar").value[1];
                  console.log(myVar);
                  document.getElementById("main_body").innerHTML+="<p>Tweeted: {{ post.content }}</p>"
                </script>
              </div> -->

            {% comment %}
            <p>Post's link: <a href="{% url 'post' post.id %}">{{ post.id }}</a><p>
            {% endcomment %}
            </p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
            {% endif %}
            <br><br>
           
    </div>
  </div>

