{% load markdownify %}


<style>
  .Title{
    display:flex;
    justify-content:space-between;
    border-bottom: dotted;
    border-width: 0.1em;
    margin-bottom: 5%;
    color: rgb(201, 198, 198);
    
  }

  



</style>

<div class="card mb-4">
    <div class="card-body">
      <p class="card-text" >
       

            <div class="Title">
              <p><a href="{% url 'profile' post.author.id %}">{{ post.author.displayName }}</a> posted<p>
              <p>Published: {{ post.published}}</p>
            </div>

            {% if post.contentType == 'text/plain' %}
            <p>{{ post.content }}</p>
            {% endif %}

            {% if post.contentType == 'text/markdown' %}
            <p>{{ post.content|markdownify}}</p>
            {% endif %}

              <!-- <div id="main_body">
                <script type="text/javascript">
                  var myVar = document.getElementById("myVar").value[1];
                  console.log(myVar);
                  document.getElementById("main_body").innerHTML+="<p>Tweeted: {{ post.content }}</p>"
                </script>
              </div> -->

            


            {% if post.contentType == 'image/png;base64' or post.contentType == 'image/jpeg;base64' or post.contentType == 'application/base64' %}
            <p><img id={{post.id}} style="max-width: 100%; border: solid;" class="center"></img></p>
            {% endif %}

            <!-- <img src="{{ MEDIA_URL }}/images/cat.png" alt="{{ post.title }}" class="img-fluid"> -->
            
            <script>
              var b = "{{post.contentType}}"

              if (b=="image/png;base64"|| b=="image/jpeg;base64" || b=="application/base64"){ 
                var a = "{{post.content}}";
                var c = "{{post.id}}"
                if (a!=''){
                  // const b = a.replace("b'");
                  // var c = "data:image/png;base64" + b;

                  console.log("before decoding");
                  console.log(a);

        

                 

                  // const myArray = a.split(";");

                  // a = myArray[1]
                  // const myArray2 = a.split("==");
                  // a = myArray2[0] + "=="

                  // console.log(a);

    
                  var baseStr64=a;

                  var image = document.getElementById(c);

                  //"data:image/jpg;base64," +
                 
                  image.setAttribute('src',  baseStr64);
                }
              }
              </script>

            

            <!-- {% if post.image %} -->
            
            <!-- <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid"> -->
            <!-- {% endif %} -->
            <br><br>
           
    </div>
  </div>

