<!-- django_project/users/templates/users/profile.html -->
{% extends "base.html" %}
{% block content %}

{% if profile %}
    <h1>{{ profile.user.username }} Profile</h1>

    <strong>Followers</strong>
    {% for follower in profile.followers.all %}
        @{{ follower.user.username }}<br/>
    {% endfor %}

<div class="Follow button">
        <form method=POST>
            {% csrf_token %}
            {% if profile.user.username != user.username %}
            <button class="btn btn-outline-success" name="follow" value="follow" type="submit">
                Follow @{{ profile.user.username }}
            </button>


            {% endif %}
        </form>
    </div>

{% endif %}


{% endblock content %}