<!-- django_project/users/templates/users/profile.html -->
{% extends "base.html" %}
{% block content %}

{% if profile %}
    <style>

        /* body{
            
        } */

        /* {% comment %} TODO: make this same theme as our app I set it like this for now {% endcomment %} */
        /* .button {
            background-color: blue;
            border: solid;
            border-color: blue;
            color: white; 
            padding: 6px 12px; 
            text-align: center; 
            text-decoration: none;
            display: inline-block; 
            cursor: pointer;   
            border-radius: 15%;
        } */
        .Profiletitle{
            display:flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            
        }
        



        #profile_img{
           
            width: 20%;
            height: 20%;
            border: solid;
            border-radius: 50%;
        }

        #FriendsFollowers{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0.5%;
        }

        #Followers{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }


        #Friends{
            display: flex;
            flex-direction: column;
            align-items: center;


        }

        /* #name{
            display:flex;
            justify-content:left;
            
   
        } */

       /* #EditProfile{
        display:flex;
        align-items: center;
        justify-content: center;
       } */

        

    </style>


    <div class="Profiletitle">
        <img src="{{ profile.profileImage }}" alt="Profile Image" height="100" width="100" id="profile_img">
        <h1 id="name">{{ profile.displayName }}'s Profile</h1>
        
        <!-- LOAD HOST -->
        {% if profile.host %}
        <p id="From">From: {{ profile.host }}</p>
        {% else %}
        <p id="From">From: None</p>
        {% endif %}

        <!-- LOAD GITHUB -->
        {% if profile.Github %}
        <p id="Github">Github: {{ profile.github }}</p>
        {% else %}
        <p id="Github">Github: None</p>
        {% endif %}

        <a href="{%url 'edit_profile' %}"class="ui button"><i class = "btn btn-secondary btn-block" style="float: right;">Edit Profile</i></a>
     
    </div>


    
    
    <br/>

    </br>    
        {% comment %} a user cannot follow himself {% endcomment %}
        {% if profile.url != user.profile.url and can_follow %}
         
        {% comment %} TODO make sure follow is clicked once {% endcomment %}
        <a href="{% url 'follow' profile.id %}" class="button" id="followingLink">
            Follow 
            {% comment %} {{ profile.displayName }} {% endcomment %}
        </a> 

        <script>
            var followingLink = document.getElementById('followingLink');
            followingLink.addEventListener('click', function() {
                followingLink.style.display = 'none';
            });
        </script>

        
        {% endif %}

<div id="FriendsFollowers">
    <div id="Friends">
        <h3 >{{ profile.displayName }}'s Friends</h3>
        {% if friends %}
            
                {% for fr in friends %}      
                    <a href ="{% url 'profile' fr.id %}">
                        {{ fr.name }}
                    </a> 
                {% endfor %}
            
        {% else %}
                    empty
        {% endif %}
        </br></br></br>
    </div>

    <div id ="Followers">
        <h3>{{ profile.displayName}}'s Followers</h3>
        {% if followers %}
            
                {% for fl in followers %}      
                    <a href="{% url 'profile' fl.id %}" >
                        {{ fl.displayName }}
                    </br>
                    </a> 
                {% endfor %}
            
        {% else %}
            empty
        {% endif %}
    </div>

</div>




</br>   </br>   </br>   </br>   
{% if posts %}
<h3>{{ profile.displayName }}'s Posts</h3>

{% for post in posts %}
{% include 'post_structure.html' %}
{% endfor %}

{% endif %}

{% endif %}

{% endblock %}
